*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* border: 1px solid red; */
}
button{
    cursor: pointer;
}
html{
    scroll-behavior: smooth;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.logo h1 {
    text-decoration: none;
}
header h1{
    color: #4caf50;
    font-size: 32px;
    font-weight: 600;
}
header h1 span{
    color: #FF8c00;
}
header{
    width: 100%;
    padding: 20px 7%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px rgb(226, 224, 224);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}
.nav-bar input{
    display: none;
}
.nav-icon{
    display: none;
}
.cancle-nav{
    display: none;
}
.nav-bar{
    width: 70%;
}
.nav-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
}
.nav-bar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 59%;
    /* border: 1px solid blue; */
}
.nav-bar ul a.active{
    color: green;
}
.nav-bar ul li{
    font-size: 16px;
}
.nav-bar ul li a{
    color: black;
    display: block;
    transition: all .3s ease-in-out;
}
.nav-bar ul li a:hover{
    color: #FF8c00;
    margin-bottom: 2px;
}
.dropdown{
    position: relative;
    padding: 0px 0px 10px 0px;
    /* border: 1px solid red; */
    margin-top: 10px;
}
.dropdown li a:hover{
    margin-bottom: 0px!important;
}
.dropdown i{
    font-size: 15px;
}
.dropdown:hover .dropdown-content{
    visibility: visible;
    width: 180px;
    top: 30px;
}
.dropdown-content{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.651);
    width: 180px;
    top: 50px;
    padding: 15px;
    transition: all .3s ease;
    visibility: hidden;
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgb(226, 224, 224);
    /* border: 1px solid black; */
}
.dropdown:hover li a{
    color: #FF8c00;
}
.dropdown-content a{
    display: block;
    margin-bottom: 13px;
    font-size: 14px;
    color: black;
    transition: all .3s ease-in-out;
}
.dropdown-content a:hover{
    color: #FF8c00;
    margin-left: 3px;
}
.search-item{
    width: 5%;
}
.search-item label{
    width: 100%;
    display: block;
}
.search-item label img{
    width: 100%;
}
.signup-cart{
    width: 38%;
}
.sign-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sign-container button{
    width: 47%;
    padding: 10px 0px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.search-item input{
    display: none;
}
.cart-cont{
    display: none;
}
.signin{
    background-color: #FF8c00;
    color: white;
}
.signup{
    background-color: #4caf50;
    color: white;
}

/* ----------------------------------------------------------------------------------------------------
       HERO SECTION
---------------------------------------------------------------------------------------------------- */

.hero-section{
    width: 100%;
    height: 800px;
    background-image: url("./image-resources/african-man-harvesting-vegetables\ \(1\)\ \(1\).png");
    background-size: 130% 120%;
    background-repeat:no-repeat ;
    overflow: hidden;
    background-position: -200px;
    position: relative;

}
.hero-section::after{
    content: "";
    background-image: linear-gradient(90deg,#102811ec,#388e3c23);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index:1 ;
}
.hero-cont{
    position: relative;
    z-index: 4;
    margin: 6%  0 0 7%;
    color: white;
    width:75% ;
}
.hero-cont h2{
    font-size: 32px;
    margin-bottom: 3rem;
}
.hero-cont h1{
    font-size:80px;
    margin-bottom: 25px;
    background-image: linear-gradient(180deg,#4caf50,#FF8c00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-cont p{
    font-size: 22px;
    margin-bottom: 35px;
}
.hero-btn{
    width: 17%;
}
.hero-btn button{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 0;
    border-radius: 15px;
    border: none;
}
.signin-hero{
    color: white;
    background-color: #FF8c00;
    font-weight: 600;
}
.learn-more{
    color: white;
    background-color: #4caf50;
    font-weight: 600
}

/* ----------------------------------------------------------------------------------------------------
      WHY SECTION
---------------------------------------------------------------------------------------------------- */

.why-section{
    width: 90%;
    margin: auto;
    margin-top: 5rem;
}
.why-section h2{
    font-size: 33px;
    text-align: center;
    margin-bottom: 5rem;
}
.why-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.why-image{
    width: 45%;
    aspect-ratio: 1/1;
    background-color: black;
    background-image: url("./image-resources/whysection-img.png");
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 30px;
    display: flex;
    justify-content: last baseline;
    align-items: last baseline;
    overflow: hidden;
}
.why-image h1{
    width: 90%;
    margin-left: 5%;
    text-align: center;
    z-index: 3;
    position: relative;
    color: white;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
}
.why-image::after{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(360deg,#102811,#388e3c06) ;
    z-index: 1;
}
.why-info{
    width: 50%;
}
.whyinfo-cont{
    margin-bottom: 20px;
}
.whyinfo-cont input{
    display: none;
}
.whyinfo-cont label{
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom:18px;
}
.whyinfo-cont label i{
    visibility: hidden;
}
.whyinfo-cont p{
    font-size: 14px;
}


/* ----------------------------------------------------------------------------------------------------
       ABOUT SECTION
---------------------------------------------------------------------------------------------------- */

.about-section{
    width: 100%;
    margin-top:5rem ;
    background-color: #4caf50;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about-section h2{
    font-size: 33px;
    text-align: center;
    margin-bottom: 5rem; 
}
.about-cont{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: space-between;
    row-gap: 20px;
    height: auto;
}
.about-info{
    width: 95%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    /* aspect-ratio: 1/0.9; */
    transition: all .3s ease-in-out;
    min-height: 220px;
}
.about-info:hover{
    box-shadow: 0px 0px 3px 5px rgba(238, 236, 236, 0.275);
    /* margin-bottom: 10px; */
}
#last-item{
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
    width: 50%;
    margin: auto;
}
.about-img{
    width: 15%;
    margin: auto;
    margin-bottom: 20px;
}
.about-img img{
    width: 100%;
}
.about-info h1{
    font-size: 17px;
    text-align: center;
    color: #FF8c00;
    margin-bottom: 22px;
}
.about-info p{
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}
.footer-section{
    background-color: #a5d6a7;
    width: 100%;
    padding-bottom: 3rem;
}
.footer-info{
    width: 90%;
    padding-top: 5rem ;
    margin: auto;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    border-bottom: 1px solid rgb(226, 224, 224);
    padding-bottom:3rem;
}
.footer-info h1{
    color: #4caf50;
    font-size: 33px;
    font-weight: 600;
}
.footer-info h1 span{
    color: #FF8c00;
}
.footer-cont{
    width: 70%;
    display: flex;
    justify-content: space-between;
    
}
.footer-box{
    width: 32%;
}
.footer-box h1{
    font-size: 28px;
    color: black;
    margin-bottom: 30px;
}
.footer-box a{
    display: block;
    color: black;
    margin-bottom: 13px;
    transition: all .3s ease-in-out;
    font-size: 18px;
}
.footer-box a:hover{
     color: #FF8c00;
     font-size: 19px;
}
.footer-box p{
    color: black;
    margin-bottom: 13px;
    transition: all .3s ease-in-out;
    font-size: 18px;
}
.handles{
    padding-top: 60px;
    width: 50%;
    margin: auto;
}
.socials{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}
.socials i{
    font-size: 30px;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}
.socials i:hover{
    color: #FF8c00;
    padding: 2px;
    aspect-ratio: 1/1;
    border: 1px solid white;
    border-radius: 50%;
}
.last{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 30px;
}
.last a{
    color: white;
}
@media screen  and (max-width:1024px){
    header h1{
        font-size: 30px;
    }
    header{
        padding: 17px 7%;
    }
    .nav-bar ul{
        width: 65%;
    }
    .nav-bar ul li{
        font-size: 14px;
    }
    .dropdown i{
        font-size: 13px;
    }
    .search-item{
        width: 5%;
    }
    .search-item label{
        width: 100%;
        display: block;
    }
    .search-item label img{
        width: 100%;
    }
    .signup-cart{
        width: 32%;
    }
    .sign-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .sign-container button{
        width: 48%;
        padding: 7px 0px;
    }
    .hero-section{
        height: 95vh;
    }
    .hero-cont{
        margin: 7% 0 0 7%;
    }
    .hero-cont h2{
        font-size: 30px;
        margin-bottom: 2rem;
    }
    .hero-cont h1{
        font-size:65px;
    }
    .hero-cont p{
        font-size: 20px;
        margin-bottom: 35px;
    }
    .hero-btn{
        width: 20%;
    }
    .hero-btn button{
        margin-bottom: 20px;
        padding: 13px 0;
        border-radius: 15px;
    }
    .why-section{
        margin-top: 3rem;
    }
    .why-section h2{
        font-size: 30px;
        margin-bottom: 3rem;
    }
    .why-cont{
        width: 100%;
    }
    .why-image{
        width: 48%;
        border-radius: 25px;
    }
    /* .why-image label{
        font-size: 16px;
        line-height: 30px;
    }   */
    .why-info{
        width: 48%;
    }
    .whyinfo-cont{
        margin-bottom: 20px;
    }
    .whyinfo-cont h1{
        font-size: 18px;
        margin-bottom:13px;
    }
    .whyinfo-cont p{
        font-size: 13px;
    }
    .about-section{
        margin-top:3rem ;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .about-section h2{
        font-size: 30px;
        text-align: center;
        margin-bottom: 3rem; 
    }
    .about-cont{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        justify-content: space-between;
        row-gap: 20px;
        height: auto;
    }
    .about-info{
        width: 95%;
        background-color: white;
        border-radius: 10px;
        padding: 15px;
        transition: all .3s ease-in-out;
    }
    .about-info:hover{
        box-shadow: 0px 0px 3px 5px rgba(238, 236, 236, 0.275);
    }
    #last-item{
        grid-column-start: 2;
        grid-column-end: 3;
        width: 95%;
    }
    .about-img{
        width: 14%;
    }
    .about-img img{
        width: 100%;
    }
    .about-info h1{
        font-size: 16px;
    }
    .about-info p{
        font-size: 15px;
    }
    .footer-section{
        padding-bottom: 3rem;
    }
    .footer-info{
        padding-top: 4rem ;
        padding-bottom:3rem;
    }
    .footer-info h1{
        font-size: 30px;
    }
    .footer-box h1{
        font-size: 20px;
        margin-bottom: 25px;
    }
    .footer-box a{
        font-size: 15px;
    }
    .footer-box a:hover{
         font-size: 16px;
    }
    .footer-box p{
        font-size: 15px;
    }
    .handles{
        padding-top: 40px;
    }
    .socials i{
        font-size: 25px;
    }
    .last{
        display: flex;
        justify-content: center;
        font-size: 16px;
        margin-top: 25px;
    }
    .last a{
        color: white;
    }
}
@media screen and (max-width:769px){
    .hero-section{
        height: 89vh;
        background-size: 130% 120%;
        background-position: -150px;
    }
    .sign-container button {
        width: 46%;
        padding: 5px 2px;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        font-size: 12px;
    }
    .hero-cont{
        margin: 8% 0 0 7%;
        width: 90%;
    }
    .hero-cont h2{
        font-size: 29px;
        margin-bottom: 1.9rem;
    }
    .hero-cont h1{
        font-size:60px;
    }
    .hero-cont p{
        font-size: 18px;
        margin-bottom: 35px;
    }
    .hero-btn{
        width: 20%;
        padding: 10px 0px;
    }
    .nav-bar ul li {
        font-size: 12px;
    }
    .why-section{
        margin-top: 3rem;
    }
    .why-section h2{
        font-size: 28px;
        margin-bottom: 3rem;
    }
    .why-cont{
        width: 100%;
        /* flex-direction: column-reverse; */
    }
    .why-image{
        width: 48%;
        border-radius: 25px;
    }
    .why-image h1{
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 10px;
    }  
    .why-info{
        width: 48%;
    }
    .whyinfo-cont{
        margin-bottom: 20px;
    }
    .whyinfo-cont label{
        font-size: 18px;
        margin-bottom:13px;
    }
    .whyinfo-cont p{
        font-size: 12px;
        visibility: hidden;
        height: 0;
        width: 0;
    }
    #whyinfo-cont1 input:checked ~ p , #whyinfo-cont2 input:checked ~ p , #whyinfo-cont3 input:checked ~ p , #whyinfo-cont4 input:checked ~ p{
        visibility: visible;
        width: 100%;
        height: 100%;
    }
    .whyinfo-cont label{
        font-size: 20px;
        font-weight: 500;
        display: block;
        margin-bottom:18px;
    }
    .whyinfo-cont label i{
        visibility: visible;
    }
    .about-section{
        margin-top:3rem ;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    .about-section h2{
        font-size: 28px;
        margin-bottom: 3rem; 
    }
    .about-cont{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #last-item{
        grid-column-start: 1;
        grid-column-end: 3;
        margin: auto;
        width: 50%;
    }
    .footer-section{
        padding-bottom: 3rem;
    }
    .footer-info{
        padding-top: 3rem ;
        padding-bottom:3rem;
        margin-bottom: 0px;
    }
    .footer-info h1{
        font-size: 28px;
    }
    .footer-box h1{
        font-size: 18px;
        margin-bottom: 23px;
    }
    .footer-box a{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .footer-box a:hover{
         font-size: 15px;
    }
    .footer-box p{
        font-size: 14px;
    }
    .handles{
        padding-top: 20px;
        margin-top: 0;
    }
    .socials i{
        font-size: 25px;
    }
    .last{
        display: flex;
        justify-content: center;
        font-size: 15px;
        margin-top: 15px!important;
    }
    .last a{
        color: white;
    }
}
@media screen and (max-width:600px){
    .nav-cont label{
        display: block;
        width: 30px;
        font-size: 100%;
        margin-bottom: 5px;
        margin-left: 90%;
        color: #FF8c00;
    }
    .nav-cont label i{
        color: #FF8c00;
    }
    .nav-bar {
        width: 32px;
        display: block;
    }
    .nav-bar ul{
        flex-direction: column;
        align-items: normal;
        width: 100%;
        row-gap: 20px;
    }
    .nav-cont{
        display: none;
        position: fixed;
        width: 50%;
        right: 0;
        top: 100%;
        background-color: white;
        height: 100vh;
        padding: 30px 30px;
    }
    .nav-bar ul li {
        font-size: 16px;
        padding-left: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dbd6d6;
    }
    .signup-cart{
        display: block;
        width: 70%;
        margin: auto;
    }
    .nav-icon{
        display: block;
    }
    .nav-icon svg{
        width: 100%;
        height: 100%;
    }
    nav input{
        display: none;
    }
    .nav-cont{
        position: absolute;
    }
    nav input:checked ~ .nav-icon{
        display: block;
    }
    .dropdown-content{
        background-color: white;
    }
    nav input:checked ~ .nav-cont{
        display: block;
        animation-name:slide-out;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
    }
    nav input:checked ~ .nav-cont
    @keyframes slide-out{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .search-item {
        width: 100%;
    }
    .search-item label {
        width: 14%;
        margin-left: 10px;
        display: block;
    }
    .signup-cart{
        width: 90%;
        margin: auto;
    }
    .sign-container{
        margin-top: 30px;
    }
    .sign-container button{
        padding: 10px 2px;
    }
    .hero-section{
        height: 95vh;
        background-size: 145% 100%;
        background-position: -150px;
    }
    .hero-cont{
        /* margin: 8% 0 0 7%; */
        margin: auto;
        width: 95%;
        text-align: center;
    }
    .hero-cont h2{
        font-size: 29px;
        margin-top: 80px;
        margin-bottom: 1.5rem;
    }
    .hero-cont h1{
        font-size:55px;
        line-height: 65px;
    }
    .hero-cont p{
        font-size: 17px;
        margin-bottom: 35px;
    }
    .hero-btn{
        width: 30%;
        margin: auto;
        margin-top: 50px;
    }
    .why-section{
        margin-top: 3rem;
    }
    .why-section h2{
        font-size: 28px;
        margin-bottom: 3rem;
    }
    .why-cont{
        width: 100%;
        flex-direction: column-reverse;
    }
    .why-image{
        width: 100%;
        border-radius: 25px;
    }
    .why-image h1{
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
    }  
    .why-info{
        width: 100%;
    }
    .whyinfo-cont{
        margin-bottom: 20px;
    }
    .whyinfo-cont label{
        font-size: 18px;
        margin-bottom:13px;
    }
    .whyinfo-cont p{
        font-size: 12px;
        visibility: hidden;
        height: 0;
        width: 0;
    }
    #whyinfo-cont1 input:checked ~ p , #whyinfo-cont2 input:checked ~ p , #whyinfo-cont3 input:checked ~ p , #whyinfo-cont4 input:checked ~ p{
        visibility: visible;
        width: 100%;
        height: 100%;
    }
    .whyinfo-cont label{
        font-size: 20px;
        font-weight: 500;
        display: block;
        margin-bottom:18px;
    }
    .whyinfo-cont label i{
        visibility: visible;
    }
    .about-section{
        margin-top:3rem ;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .about-info{
        min-height: 250px;
        width: 100%;
    }
    .about-section h2{
        font-size: 29px;
        margin-bottom: 3rem; 
    }
    .about-cont{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #last-item{
        grid-column-start: 1;
        grid-column-end: 2;
        margin: auto;
        width: 100%;
    }
    .footer-section{
        padding-bottom: 3rem;
    }
    .footer-info{
        padding-top: 3rem ;
        padding-bottom:3rem;
        margin-bottom: 0px;
        flex-direction: column;
        gap: 40px;
    }
    .footer-cont{
        width: 100%;
        flex-direction: column;
        align-items: center;
       row-gap: 40px;
    }
    .footer-info h1{
        font-size: 28px;
    }
    .footer-box{
        width: 60%;
        margin: auto;
        text-align: center;
    }
    .footer-box h1{
        font-size: 18px;
        margin-bottom: 23px;
    }
    .footer-box a{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .footer-box a:hover{
         font-size: 15px;
    }
    .footer-box p{
        font-size: 14px;
    }
    .handles{
        width: 70%;
        padding-top: 20px;
        margin-top: 0;
    }
    .socials i{
        font-size: 25px;
    }
    .last{
        display: flex;
        justify-content: center;
        font-size: 11px!important;
        margin-top: 15px!important;
        width: 95%;
    }
    .last a{
        color: white;
    }
}
@media screen and (max-width:480px) {
    header{
        padding: 5px 5%;
    }
    .Logo{
        font-size: 25px;
    }
    .nav-bar {
        width: 32px;
        display: block;
    }
    .nav-bar ul{
        flex-direction: column;
        align-items: normal;
        width: 100%;
        row-gap: 20px;
    }
    .nav-cont{
        display: none;
        position: fixed;
        width: 50%;
        right: 0;
        top: 100%;
        background-color: white;
        height: 100vh;
        padding: 14px 20px;
    }
    .nav-bar ul li {
        font-size: 13px;
        padding-left: 10px;
        padding-bottom: 7px;
        border-bottom: 1px solid #dbd6d6;
    }
    .signup-cart{
        display: block;
        width: 70%;
        margin: auto;
    }
    .nav-icon{
        display: block;
        margin-top: 5px;
    }
    .nav-icon svg{
        width: 100%;
        height: 100%;
    }
    nav input{
        display: none;
    }
    .nav-cont{
        position: absolute;
        height: 105vh;
        width: 60%;
        padding: 14px 25px;
        right: 0;
        overflow: hidden;
    }
    nav input:checked ~ .nav-icon{
        display: block;
    }
    nav input:checked ~ .nav-cont{
        display: block;
    }
    nav input:checked ~ .nav-cont{
        display: block;
        animation-name:slide-out;
        animation-duration: 1s;
        animation-direction: alternate-reverse;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
    }
    @keyframes slide-out{
        0%{
            transform: translateX(0%) ;
        }
        100%{
            transform: translateX(100%);
        }
    }
    .search-item {
        width: 100%;
    }
    .search-item label {
        width: 14%;
        margin-left: 10px;
        display: block;
    }
    .signup-cart{
        width: 90%;
        margin: auto;
    }
    .sign-container{
        margin-top: 20px;
    }
    .sign-container button{
        padding: 8px 2px;
    }
    .hero-section{
        height: 80vh;
        background-size: 170% 100%;
        background-position: -100px;
    }
    .hero-cont{
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .hero-cont h2{
        font-size: 25px;
        margin-top: 40px;
        margin-bottom: 1.5rem;
    }
    .hero-cont h1{
        font-size:45px;
        line-height: 50px;
    }
    .hero-cont p{
        font-size: 15px;
        margin-bottom: 35px;
    }
    .hero-btn{
        width: 30%;
        margin: auto;
        margin-top: 5px;
    }
    .why-section{
        margin-top: 3rem;
    }
    .why-section h2{
        font-size: 28px;
        margin-bottom: 3rem;
    }
    .why-cont{
        width: 100%;
        flex-direction: column-reverse;
    }
    .why-image{
        width: 100%;
        border-radius: 25px;
    }
    .why-image h1{
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
    }  
    .why-info{
        width: 100%;
    }
    .whyinfo-cont{
        margin-bottom: 20px;
    }
    .whyinfo-cont label{
        font-size: 18px;
        margin-bottom:13px;
    }
    .whyinfo-cont p{
        font-size: 12px;
        visibility: hidden;
        height: 0;
        width: 0;
    }
    #whyinfo-cont1 input:checked ~ p , #whyinfo-cont2 input:checked ~ p , #whyinfo-cont3 input:checked ~ p , #whyinfo-cont4 input:checked ~ p{
        visibility: visible;
        width: 100%;
        height: 100%;
    }
    .whyinfo-cont label{
        font-size: 20px;
        font-weight: 500;
        display: block;
        margin-bottom:18px;
    }
    .whyinfo-cont label i{
        visibility: visible;
    }
    .about-section{
        margin-top:3rem ;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .about-info{
        min-height: 250px;
    }
    .about-section h2{
        font-size: 29px;
        margin-bottom: 3rem; 
    }
    .about-cont{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #last-item{
        grid-column-start: 1;
        grid-column-end: 2;
        margin: auto;
        width: 100%;
    }
    .footer-section{
        padding-bottom: 3rem;
    }
    .footer-info{
        padding-top: 3rem ;
        padding-bottom:3rem;
        margin-bottom: 0px;
        flex-direction: column;
        gap: 40px;
    }
    .footer-cont{
        width: 100%;
    }
    .footer-info h1{
        font-size: 28px;
    }
    .footer-box h1{
        font-size: 18px;
        margin-bottom: 23px;
    }
    .footer-box a{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .footer-box a:hover{
         font-size: 15px;
    }
    .footer-box p{
        font-size: 14px;
    }
    .handles{
        width: 70%;
        padding-top: 20px;
        margin-top: 0;
        margin: auto;
    }
    .socials i{
        font-size: 25px;
    }
    .last{
        display: flex;
        justify-content: center;
        font-size: 15px;
        margin-top: 15px!important;
    }
    .last a{
        color: white;
    }
}

